.dropDownMenu {
  position: relative;
}

.dropDownMenu ul {
  width: 100px;
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  visibility: hidden;
  transition: width 0.5s ease-out;
}

.dropDownMenu:hover ul {
  display: block;
  z-index: 6;
  visibility: visible;
  top: 0;
  width: 170px;
}

.dropDownMenu ul li {
  height: 50px;
}

.item .activeLink {
  color: white;
  text-decoration: underline;
}



