.dropDownMenu {
  position: relative;
}

.dropDownMenu ul {
  width: 150px;
  margin-top: 105px;
  background: grey;
  position: absolute;
  display: none;
}

.dropDownMenu:hover ul {
  display: block;
}

.dropDownMenu ul li {
  height: 50px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item .activeLink {
    color: black;
    text-decoration: underline;
}

.item a:hover {
    color: gold;
}