.row {
  height: 100%;
}

div.productPhotosContainer {
  height: 100%;
  display: flex;
  margin-bottom: 20px;
}

.bgPhotoContainer {
  width: 70%;
}

.bgPhotoContainer img {
  width: 100%;
}

.smPhotoContainer {
  width: 30%;
}

.smPhotoContainer img {
  width: 90%;
  margin: 0px 0px 10px 10px;
}

.productInfoContainer {
  border-left: 1px solid gray;
  padding: 10px;
  text-align: center;
}

.productName {
  text-align: center;
}

div.productStock {
  color: green;
  margin-bottom: 15px;
}

.priceContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.oldPrice {
  text-decoration: line-through;
}

.newPrice {
  color: red;
  font-size: 18px;
}

.materialContainer {
  margin-bottom: 15px;
}

p.textContainer {
  margin-bottom: 15px;
}

.sizeContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 15px;
}

.rowSize {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .row .productInfoContainer {
    max-width: 100%;
    border: none;
    border-top: 1px solid gray;
  }
}
