.groupPhoto {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 50px;
}

.pictureContainer {
  max-width: 300px;
  max-height: 500px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainPicture {
  max-width: 700px;
}

.pictureContainer img {
  width: 100%;
}

.title {
  text-align: center;
}

.subTitle {
  margin-bottom: 20px;
}

.containerEditNews {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.deteleNews:hover,
.containerEditNews a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.deteleNews {
  color: red;
}
