/* .navHeader {
  height: 60px;
  background: black;
  color: white;
}

.topMenu {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.topMenu ul {
  list-style-type: none;
}

.topMenu li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 16px;
}

.topMenu li:hover {
  background: gray;
  color: black;
  box-shadow: 1px 5px 10px -5px black;
  font-size: 17px;
  font-weight: bold;
}

li a {
  color: white;
}

li a:hover {
  color: gold;
}

.item .activeLink {
  color: white;
  text-decoration: underline;
}

a.icon {
  font-size: 30px;
}

.item:first-child {
  display: none;
  padding-left: 10px;
}

@media screen and (max-width: 750px) {
  .topMenu li {
    display: none;
  }
  .item:first-child {
    display: flex;
    justify-content: start;
  }
} */

nav {
  margin: auto;
  max-width: 1440px;
  width: 100%;
}

.navHeader label {
  width: 100%;
  margin: 0px;
}

#checkboxMenu,
.toggle {
  display: none;
}

.topMenu {
  padding: 0;
  margin: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background: black;
}

.topMenu li a {
  color: white;
  text-decoration: none;
  align-self: center;
  font-size: 17px;
  padding: 10px;
  transition: background 0.2s linear;
  width: 100%;
  text-align: center;
}

.topMenu li a:hover {
  background: gray;
  border-radius: 3px;
}

@media screen and (max-width: 750px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    color: white;
    background: black;
    transition: all 0.1s lenear;
  }

  .toggle:hover {
    background: gray;
  }

  #checkboxMenu:checked + label .touch li {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s linear;
  }

  #checkboxMenu:checked + label .touch {
    height: 450px;
  }

  .topMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0;
    transition: height 0.3s linear;
  }

  .topMenu li {
    padding: 0px 10px;
    display: flex;
    align-self: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }

  .topMenu li a {
    padding-left: 5px;
    width: 100%;
    align-self: center;
    align-content: center;
  }
}
