.navHeader {
  height: 60px;
  background: black;
  color: white;
}

.topMenu {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.topMenu ul {
  list-style-type: none;
}

.topMenu li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 16px;
}

.topMenu li:hover {
  background: gray;
  color: black;
  box-shadow: 1px 5px 10px -5px black;
  font-size: 17px;
  font-weight: bold;
}

li a {
  color: white;
}

li a:hover {
  color: gold;
}

.item .activeLink {
  color: white;
  text-decoration: underline;
}

