.formControl.error textarea,
.formControl.error select,
.formControl.error input {
  border: 2px solid red;
}

.formControl.error span {
  color: red;
}

textarea {
  min-height: 100px;
  max-height: 300px;
}
