.item {
  margin-bottom: 140px;
}

.containerEditProduct {
  display: flex;
  justify-content: space-around;
}

.deteleProduct:hover,
.containerEditProduct a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.deteleProduct {
  color: red;
}
