.containerInfo {
  padding: 10px;
}

.description {
  text-align: center;
  margin-bottom: 40px;
}

.priceContainer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0px 30px;
}

.oldPrice {
  text-decoration: line-through;
}

.newPrice {
  text-align: center;
  color: red;
  font-size: 16px;
}

.sizesContainer {
  margin-top: 15px;
}

.titleSize {
  font-weight: bold;
}

.rowSize {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

div.btnContainer {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

div.btnContainer .productBtn {
  width: 90%;
}
