.containerInfo {
    padding: 10px;
}

.description {
    text-align: center;
    margin-bottom: 40px;
}

.price {
    text-align: center;
    color: red;
    font-size: 15px;
}

.sizesContainer {
    margin-top: 15px;
}

.titleSize {
    font-weight: bold;
}

.rowSize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}