.mainHeader {
  height: 70px;
  width: 100%;
  max-width: 1440px;
  background: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  margin-right: 50px;
}

h3 {
  margin: 0px 30px;
}

.count {
  color: red;
}