div.mainHeader {
  height: 70px;
  width: 100%;
  max-width: 1440px;
  background: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.logoContainer {
  width: 70px;
}

img.logo {
  width: 100%;
}

div.userIconContainer a {
  color: black;
}

div.cartIconContainer a {
  margin-right: 30px;
  color: black;
  display: flex;
  align-items: center;
}

span.count {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 750px) {
  .contacts {
    display: none;
  }

  .title h2 {
    font-size: 16px;
  }
}
