.productContainer {
    overflow: hidden;
    height: 400px;
    margin-bottom: 15px;
    transition: 0.2s ease-out;
    transition-delay: 0.5s;
}

.productContainer:hover {
    border: 2px solid gray;
    background: whitesmoke;
    margin-bottom: 20px;
    box-shadow: 10px 5px 5px gray;
    height: auto;
}


