.container {
  padding: 0px 15px;
  font-size: 16px;
}

.container div h3 {
  text-align: center;
  margin-top: 15px;
}

.container p {
  margin-bottom: 15px;
}

.container ul {
  margin-left: 15px;
}

.container ul li {
    margin-bottom: 5px;
}