.footer {
  height: 120px;
  background: black;
  color: white;
}

div .container {
  max-width: 1410px;
  padding: 20px 0px;
}

.titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  margin-left: 10px;
  font-size: 15px;
}

.telegramIcon:hover {
  color: aqua;
}

.instagramIcon:hover {
  color: rgb(248, 80, 50);
}

.facebookIcon:hover {
  color: rgb(45, 45, 231);
}

.viberIcon:hover {
  color: blueviolet;
}

a.socialLink {
    color: white;
}

a.socialLink:hover {
    color: white;
}
