.container {
  padding: 0px 15px;
  font-size: 16px;
}

.container p {
  margin-bottom: 15px;
}

.container table tbody tr {
  text-align: left;
  border-top: 1px solid gray;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.container table tbody tr:last-child {
  border-bottom: 1px solid gray;
  margin-bottom: 16px;
}
