.productContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.photoContainer {
    max-width: 400px;
}

.photoContainer img {
    width: 100%;
    height: auto;
}

.infoContainer {
    width: 100%;
    margin-left: 70px;
}

.size {
    margin-left: 5px;
}

span.removeFromCart {
    cursor: pointer;
    color: red;
    margin-right: 20px;
    font-weight: bold;
}

span.removeFromCart:hover {
    color: white;
    background: black;
}