ul.womenDropMenu {
  position: relative;
}

.womenDropMenu ul.submenu {
  width: 160px;
  margin-top: 79px;
  padding-top: 20px;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: -80px;
  left: 170px;
  visibility: hidden;
  font-weight: 100;
  transition: width 0.5s cubic-bezier(.1, -1.5, .1, 2.5);
}

.womenDropMenu:hover .submenu {
  z-index: 5;
  visibility: visible;
  width: 200px;
}

.item .activeLink {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .womenDropMenu ul.submenu  {
    display: none;
  }

  .womenDropMenu:hover ul.submenu {
    display: flex;
  }
}